body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}

p, .btn, .output {
    font-size: large;
}

.welcome-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}
.about-section {
    min-height: 100%;
    padding-top: 15px;
    text-align: center;
    background: #EFDECD;
}


